@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Klear';
    src: url('./assets/fonts/Klear DEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
